body {
  background-color: white;
}
h1 {
  color: white
  background-color: navy;
  border-radius: 25px;
  text-align: center;
  font-family: verdana;
  font-size: 100%;
}
p {
  font-family: courier;
  font-size: 100%;
}
/* #p0 {
  font-family: courier;
  font-size: 100%;
} */
/*(corresponds to id="para1")*/